<form method="post" action="{{ path('admin_user_disable_account', {'id': user.id}) }}" onsubmit="return confirm('Are you sure you want to disable this account?');">
    <input type="hidden" name="_method" value="POST">
    <input type="hidden" name="_token" value="{{ csrf_token('disableAccount' ~ user.id) }}">
    <button class="btn btn-primary btn-block" role="button">{{ 'user.actions.disable_account'|trans }}</button>
</form>
