<?php

$finder = PhpCsFixer\Finder::create()
    ->in(__DIR__)
    ->exclude('var')
    ->exclude('vendor')
    ->exclude('extra')
    ->exclude('Ben_old_backup')
    ->exclude('node_modules')
;

return PhpCsFixer\Config::create()
    ->setRules([
        '@PSR2'                                     => true,
        '@Symfony'                                  => true,
        //'@Symfony:risky'                            => true,
        'array_syntax' => ['syntax' => 'short'],
        'no_unused_imports' => true,
    ])
    ->setFinder($finder)
;
