parameters:
	ignoreErrors:
		-
			message: "#^Method App\\\\Controller\\\\AccountMeController\\:\\:index\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Controller/AccountMeController.php

		-
			message: "#^Method App\\\\Controller\\\\SecurityController\\:\\:logout\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Controller/SecurityController.php

		-
			message: "#^Method App\\\\DataFixtures\\\\AppFixtures\\:\\:load\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/DataFixtures/AppFixtures.php

		-
			message: "#^Method App\\\\DataFixtures\\\\SecurityFixtures\\:\\:load\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/DataFixtures/SecurityFixtures.php

		-
			message: "#^Property App\\\\Dto\\\\PatientPersonalDataDTO\\:\\:\\$id has no typehint specified\\.$#"
			count: 1
			path: src/Dto/PatientPersonalDataDTO.php

		-
			message: "#^Property App\\\\Dto\\\\RegisterPatientDTO\\:\\:\\$patientPersonalData has no typehint specified\\.$#"
			count: 1
			path: src/Dto/RegisterPatientDTO.php

		-
			message: "#^Property App\\\\Dto\\\\RegisterPatientDTO\\:\\:\\$confirm has no typehint specified\\.$#"
			count: 1
			path: src/Dto/RegisterPatientDTO.php

		-
			message: "#^Property App\\\\Dto\\\\RegisterUserDTO\\:\\:\\$user has no typehint specified\\.$#"
			count: 1
			path: src/Dto/RegisterUserDTO.php

		-
			message: "#^Property App\\\\Dto\\\\RegisterUserDTO\\:\\:\\$profile has no typehint specified\\.$#"
			count: 1
			path: src/Dto/RegisterUserDTO.php

		-
			message: "#^Property App\\\\Dto\\\\RegisterUserDTO\\:\\:\\$confirm has no typehint specified\\.$#"
			count: 1
			path: src/Dto/RegisterUserDTO.php

		-
			message: "#^Property App\\\\Dto\\\\UserDTO\\:\\:\\$id has no typehint specified\\.$#"
			count: 1
			path: src/Dto/UserDTO.php

		-
			message: "#^Method App\\\\Entity\\\\Config\\:\\:__construct\\(\\) has parameter \\$the_key with no typehint specified\\.$#"
			count: 1
			path: src/Entity/Config.php

		-
			message: "#^Method App\\\\Entity\\\\Config\\:\\:__construct\\(\\) has parameter \\$the_value with no typehint specified\\.$#"
			count: 1
			path: src/Entity/Config.php

		-
			message: "#^Access to an undefined property App\\\\Entity\\\\Config\\:\\:\\$the_key\\.$#"
			count: 1
			path: src/Entity/Config.php

		-
			message: "#^Access to an undefined property App\\\\Entity\\\\Config\\:\\:\\$the_value\\.$#"
			count: 1
			path: src/Entity/Config.php

		-
			message: "#^Property App\\\\Entity\\\\Consultation\\:\\:\\$GENERAL has no typehint specified\\.$#"
			count: 1
			path: src/Entity/Consultation.php

		-
			message: "#^Property App\\\\Entity\\\\Consultation\\:\\:\\$SPECIAL has no typehint specified\\.$#"
			count: 1
			path: src/Entity/Consultation.php

		-
			message: "#^Property App\\\\Entity\\\\Consultation\\:\\:\\$tests with generic interface Doctrine\\\\Common\\\\Collections\\\\Collection does not specify its types\\: TKey, T$#"
			count: 1
			path: src/Entity/Consultation.php

		-
			message: "#^Property App\\\\Entity\\\\Consultation\\:\\:\\$consultationmeds with generic interface Doctrine\\\\Common\\\\Collections\\\\Collection does not specify its types\\: TKey, T$#"
			count: 1
			path: src/Entity/Consultation.php

		-
			message: "#^Method App\\\\Entity\\\\Consultation\\:\\:getTests\\(\\) return type with generic interface Doctrine\\\\Common\\\\Collections\\\\Collection does not specify its types\\: TKey, T$#"
			count: 1
			path: src/Entity/Consultation.php

		-
			message: "#^Method App\\\\Entity\\\\Consultation\\:\\:getConsultationmeds\\(\\) return type with generic interface Doctrine\\\\Common\\\\Collections\\\\Collection does not specify its types\\: TKey, T$#"
			count: 1
			path: src/Entity/Consultation.php

		-
			message: "#^Access to an undefined property App\\\\Entity\\\\ConsultationMeds\\:\\:\\$consultations\\.$#"
			count: 1
			path: src/Entity/ConsultationMeds.php

		-
			message: "#^Parameter \\#1 \\$count of method App\\\\Entity\\\\Meds\\:\\:minusCount\\(\\) expects string, int given\\.$#"
			count: 1
			path: src/Entity/ConsultationMeds.php

		-
			message: "#^Property App\\\\Entity\\\\Meds\\:\\:\\$consultationmeds with generic interface Doctrine\\\\Common\\\\Collections\\\\Collection does not specify its types\\: TKey, T$#"
			count: 1
			path: src/Entity/Meds.php

		-
			message: "#^Binary operation \"\\-\\=\" between int and string results in an error\\.$#"
			count: 1
			path: src/Entity/Meds.php

		-
			message: "#^Method App\\\\Entity\\\\Meds\\:\\:getConsultationmeds\\(\\) return type has no value type specified in iterable type Doctrine\\\\Common\\\\Collections\\\\Collection\\.$#"
			count: 1
			path: src/Entity/Meds.php

		-
			message: "#^Method App\\\\Entity\\\\Meds\\:\\:getConsultationmeds\\(\\) return type with generic interface Doctrine\\\\Common\\\\Collections\\\\Collection does not specify its types\\: TKey, T$#"
			count: 1
			path: src/Entity/Meds.php

		-
			message: "#^Property App\\\\Entity\\\\Person\\:\\:\\$antecedents with generic interface Doctrine\\\\Common\\\\Collections\\\\Collection does not specify its types\\: TKey, T$#"
			count: 1
			path: src/Entity/Person.php

		-
			message: "#^Property App\\\\Entity\\\\Person\\:\\:\\$consultations with generic interface Doctrine\\\\Common\\\\Collections\\\\Collection does not specify its types\\: TKey, T$#"
			count: 1
			path: src/Entity/Person.php

		-
			message: "#^Method App\\\\Entity\\\\Person\\:\\:getAntecedents\\(\\) return type with generic interface Doctrine\\\\Common\\\\Collections\\\\Collection does not specify its types\\: TKey, T$#"
			count: 1
			path: src/Entity/Person.php

		-
			message: "#^Method App\\\\Entity\\\\Person\\:\\:getConsultations\\(\\) return type with generic interface Doctrine\\\\Common\\\\Collections\\\\Collection does not specify its types\\: TKey, T$#"
			count: 1
			path: src/Entity/Person.php

		-
			message: "#^Property App\\\\Entity\\\\Test\\:\\:\\$GENERAL has no typehint specified\\.$#"
			count: 1
			path: src/Entity/Test.php

		-
			message: "#^Property App\\\\Entity\\\\Test\\:\\:\\$consultation has no typehint specified\\.$#"
			count: 1
			path: src/Entity/Test.php

		-
			message: "#^Property App\\\\Entity\\\\UserProfile\\:\\:\\$id has no typehint specified\\.$#"
			count: 1
			path: src/Entity/UserProfile.php

		-
			message: "#^Property App\\\\Entity\\\\UserProfile\\:\\:\\$firstName has no typehint specified\\.$#"
			count: 1
			path: src/Entity/UserProfile.php

		-
			message: "#^Property App\\\\Entity\\\\UserProfile\\:\\:\\$lastName has no typehint specified\\.$#"
			count: 1
			path: src/Entity/UserProfile.php

		-
			message: "#^Method App\\\\Form\\\\PatientContactDetailType\\:\\:buildForm\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Form/PatientContactDetailType.php

		-
			message: "#^Method App\\\\Form\\\\PatientContactDetailType\\:\\:buildForm\\(\\) has parameter \\$builder with no value type specified in iterable type Symfony\\\\Component\\\\Form\\\\FormBuilderInterface\\.$#"
			count: 1
			path: src/Form/PatientContactDetailType.php

		-
			message: "#^Method App\\\\Form\\\\PatientContactDetailType\\:\\:buildForm\\(\\) has parameter \\$options with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Form/PatientContactDetailType.php

		-
			message: "#^Method App\\\\Form\\\\PatientContactDetailType\\:\\:configureOptions\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Form/PatientContactDetailType.php

		-
			message: "#^Method App\\\\Form\\\\PatientPersonalDataFormDTOType\\:\\:buildForm\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Form/PatientPersonalDataFormDTOType.php

		-
			message: "#^Method App\\\\Form\\\\PatientPersonalDataFormDTOType\\:\\:buildForm\\(\\) has parameter \\$builder with no value type specified in iterable type Symfony\\\\Component\\\\Form\\\\FormBuilderInterface\\.$#"
			count: 1
			path: src/Form/PatientPersonalDataFormDTOType.php

		-
			message: "#^Method App\\\\Form\\\\PatientPersonalDataFormDTOType\\:\\:buildForm\\(\\) has parameter \\$options with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Form/PatientPersonalDataFormDTOType.php

		-
			message: "#^Method App\\\\Form\\\\PatientPersonalDataFormDTOType\\:\\:configureOptions\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Form/PatientPersonalDataFormDTOType.php

		-
			message: "#^Method App\\\\Form\\\\PatientType\\:\\:buildForm\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Form/PatientType.php

		-
			message: "#^Method App\\\\Form\\\\PatientType\\:\\:buildForm\\(\\) has parameter \\$builder with no value type specified in iterable type Symfony\\\\Component\\\\Form\\\\FormBuilderInterface\\.$#"
			count: 1
			path: src/Form/PatientType.php

		-
			message: "#^Method App\\\\Form\\\\PatientType\\:\\:buildForm\\(\\) has parameter \\$options with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Form/PatientType.php

		-
			message: "#^Method App\\\\Form\\\\PatientType\\:\\:configureOptions\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Form/PatientType.php

		-
			message: "#^Class App\\\\Dto\\\\PatientDTO not found\\.$#"
			count: 1
			path: src/Form/PatientType.php

		-
			message: "#^Method App\\\\Form\\\\RegisterPatientType\\:\\:buildForm\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Form/RegisterPatientType.php

		-
			message: "#^Method App\\\\Form\\\\RegisterPatientType\\:\\:buildForm\\(\\) has parameter \\$builder with no value type specified in iterable type Symfony\\\\Component\\\\Form\\\\FormBuilderInterface\\.$#"
			count: 1
			path: src/Form/RegisterPatientType.php

		-
			message: "#^Method App\\\\Form\\\\RegisterPatientType\\:\\:buildForm\\(\\) has parameter \\$options with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Form/RegisterPatientType.php

		-
			message: "#^Method App\\\\Form\\\\RegisterPatientType\\:\\:configureOptions\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Form/RegisterPatientType.php

		-
			message: "#^Method App\\\\Form\\\\RegisterUserType\\:\\:buildForm\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Form/RegisterUserType.php

		-
			message: "#^Method App\\\\Form\\\\RegisterUserType\\:\\:buildForm\\(\\) has parameter \\$builder with no value type specified in iterable type Symfony\\\\Component\\\\Form\\\\FormBuilderInterface\\.$#"
			count: 1
			path: src/Form/RegisterUserType.php

		-
			message: "#^Method App\\\\Form\\\\RegisterUserType\\:\\:buildForm\\(\\) has parameter \\$options with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Form/RegisterUserType.php

		-
			message: "#^Method App\\\\Form\\\\RegisterUserType\\:\\:configureOptions\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Form/RegisterUserType.php

		-
			message: "#^Method App\\\\Form\\\\UserProfileType\\:\\:buildForm\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Form/UserProfileType.php

		-
			message: "#^Method App\\\\Form\\\\UserProfileType\\:\\:buildForm\\(\\) has parameter \\$builder with no value type specified in iterable type Symfony\\\\Component\\\\Form\\\\FormBuilderInterface\\.$#"
			count: 1
			path: src/Form/UserProfileType.php

		-
			message: "#^Method App\\\\Form\\\\UserProfileType\\:\\:buildForm\\(\\) has parameter \\$options with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Form/UserProfileType.php

		-
			message: "#^Method App\\\\Form\\\\UserProfileType\\:\\:configureOptions\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Form/UserProfileType.php

		-
			message: "#^Method App\\\\Form\\\\UserType\\:\\:buildForm\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Form/UserType.php

		-
			message: "#^Method App\\\\Form\\\\UserType\\:\\:buildForm\\(\\) has parameter \\$builder with no value type specified in iterable type Symfony\\\\Component\\\\Form\\\\FormBuilderInterface\\.$#"
			count: 1
			path: src/Form/UserType.php

		-
			message: "#^Method App\\\\Form\\\\UserType\\:\\:buildForm\\(\\) has parameter \\$options with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Form/UserType.php

		-
			message: "#^Method App\\\\Form\\\\UserType\\:\\:configureOptions\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Form/UserType.php

		-
			message: "#^Method App\\\\Repository\\\\ConfigRepository\\:\\:updateBy\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Repository/ConfigRepository.php

		-
			message: "#^Method App\\\\Repository\\\\ConfigRepository\\:\\:updateBy\\(\\) has parameter \\$key with no typehint specified\\.$#"
			count: 1
			path: src/Repository/ConfigRepository.php

		-
			message: "#^Method App\\\\Repository\\\\ConfigRepository\\:\\:updateBy\\(\\) has parameter \\$value with no typehint specified\\.$#"
			count: 1
			path: src/Repository/ConfigRepository.php

		-
			message: "#^Method App\\\\Repository\\\\ConsultationRepository\\:\\:search\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Repository/ConsultationRepository.php

		-
			message: "#^Method App\\\\Repository\\\\ConsultationRepository\\:\\:search\\(\\) has parameter \\$searchParam with no typehint specified\\.$#"
			count: 1
			path: src/Repository/ConsultationRepository.php

		-
			message: "#^Undefined variable\\: \\$sortDir$#"
			count: 1
			path: src/Repository/ConsultationRepository.php

		-
			message: "#^Undefined variable\\: \\$page$#"
			count: 1
			path: src/Repository/ConsultationRepository.php

		-
			message: "#^Method App\\\\Repository\\\\ConsultationRepository\\:\\:counter\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Repository/ConsultationRepository.php

		-
			message: "#^Method App\\\\Repository\\\\MedsRepository\\:\\:search\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Repository/MedsRepository.php

		-
			message: "#^Method App\\\\Repository\\\\MedsRepository\\:\\:search\\(\\) has parameter \\$searchParam with no typehint specified\\.$#"
			count: 1
			path: src/Repository/MedsRepository.php

		-
			message: "#^Undefined variable\\: \\$sortDir$#"
			count: 1
			path: src/Repository/MedsRepository.php

		-
			message: "#^Undefined variable\\: \\$page$#"
			count: 1
			path: src/Repository/MedsRepository.php

		-
			message: "#^Method App\\\\Repository\\\\MedsRepository\\:\\:counter\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Repository/MedsRepository.php

		-
			message: "#^Method App\\\\Repository\\\\PersonRepository\\:\\:search\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Repository/PersonRepository.php

		-
			message: "#^Method App\\\\Repository\\\\PersonRepository\\:\\:search\\(\\) has parameter \\$searchParam with no typehint specified\\.$#"
			count: 1
			path: src/Repository/PersonRepository.php

		-
			message: "#^Undefined variable\\: \\$sortDir$#"
			count: 1
			path: src/Repository/PersonRepository.php

		-
			message: "#^Undefined variable\\: \\$page$#"
			count: 1
			path: src/Repository/PersonRepository.php

		-
			message: "#^Method App\\\\Repository\\\\PersonRepository\\:\\:counter\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Repository/PersonRepository.php

		-
			message: "#^Method App\\\\Repository\\\\PersonRepository\\:\\:getCities\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Repository/PersonRepository.php

		-
			message: "#^Method App\\\\Repository\\\\PersonRepository\\:\\:fetch\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Repository/PersonRepository.php

		-
			message: "#^Method App\\\\Repository\\\\PersonRepository\\:\\:fetch\\(\\) has parameter \\$query with no typehint specified\\.$#"
			count: 1
			path: src/Repository/PersonRepository.php

		-
			message: "#^Method App\\\\Repository\\\\TestRepository\\:\\:search\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Repository/TestRepository.php

		-
			message: "#^Method App\\\\Repository\\\\TestRepository\\:\\:search\\(\\) has parameter \\$searchParam with no typehint specified\\.$#"
			count: 1
			path: src/Repository/TestRepository.php

		-
			message: "#^Undefined variable\\: \\$sortDir$#"
			count: 1
			path: src/Repository/TestRepository.php

		-
			message: "#^Undefined variable\\: \\$page$#"
			count: 1
			path: src/Repository/TestRepository.php

		-
			message: "#^Method App\\\\Repository\\\\TestRepository\\:\\:counter\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Repository/TestRepository.php

		-
			message: "#^Method App\\\\Repository\\\\UserRepository\\:\\:countUsers\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Repository/UserRepository.php

		-
			message: "#^Property App\\\\Security\\\\AppCustomAuthenticator\\:\\:\\$entityManager has no typehint specified\\.$#"
			count: 1
			path: src/Security/AppCustomAuthenticator.php

		-
			message: "#^Property App\\\\Security\\\\AppCustomAuthenticator\\:\\:\\$urlGenerator has no typehint specified\\.$#"
			count: 1
			path: src/Security/AppCustomAuthenticator.php

		-
			message: "#^Property App\\\\Security\\\\AppCustomAuthenticator\\:\\:\\$csrfTokenManager has no typehint specified\\.$#"
			count: 1
			path: src/Security/AppCustomAuthenticator.php

		-
			message: "#^Property App\\\\Security\\\\AppCustomAuthenticator\\:\\:\\$passwordEncoder has no typehint specified\\.$#"
			count: 1
			path: src/Security/AppCustomAuthenticator.php

		-
			message: "#^Method App\\\\Security\\\\AppCustomAuthenticator\\:\\:getPassword\\(\\) has parameter \\$credentials with no typehint specified\\.$#"
			count: 1
			path: src/Security/AppCustomAuthenticator.php

		-
			message: "#^Method App\\\\Security\\\\AppCustomAuthenticator\\:\\:onAuthenticationSuccess\\(\\) has parameter \\$providerKey with no typehint specified\\.$#"
			count: 1
			path: src/Security/AppCustomAuthenticator.php

		-
			message: "#^Property App\\\\Tests\\\\Integration\\\\Persistence\\\\Entitiy\\\\Doctrine\\\\EntityTestCase\\:\\:\\$entity has no typehint specified\\.$#"
			count: 1
			path: tests/Integration/Persistence/Entitiy/Doctrine/EntityTestCase.php

		-
			message: "#^Method App\\\\Tests\\\\Integration\\\\Persistence\\\\Entitiy\\\\Doctrine\\\\EntityTestCase\\:\\:testThatSetterOnlyAcceptSpecifiedType\\(\\) has parameter \\$meta with no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Integration/Persistence/Entitiy/Doctrine/EntityTestCase.php

		-
			message: "#^Parameter \\#1 \\$function of function call_user_func expects callable\\(\\)\\: mixed, array\\(mixed, string\\) given\\.$#"
			count: 1
			path: tests/Integration/Persistence/Entitiy/Doctrine/EntityTestCase.php

		-
			message: "#^Method App\\\\Tests\\\\Integration\\\\Persistence\\\\Entitiy\\\\Doctrine\\\\EntityTestCase\\:\\:testThatManyToManyAssociationMethodsWorksAsExpected\\(\\) has parameter \\$mappings with no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Integration/Persistence/Entitiy/Doctrine/EntityTestCase.php

		-
			message: "#^Parameter \\#1 \\$function of function call_user_func expects callable\\(\\)\\: mixed, array\\(mixed, bool\\|string\\) given\\.$#"
			count: 6
			path: tests/Integration/Persistence/Entitiy/Doctrine/EntityTestCase.php

		-
			message: "#^PHPDoc tag @var for variable \\$collection contains generic class Doctrine\\\\Common\\\\Collections\\\\ArrayCollection but does not specify its types\\: TKey, T$#"
			count: 7
			path: tests/Integration/Persistence/Entitiy/Doctrine/EntityTestCase.php

		-
			message: "#^Parameter \\#1 \\$function of function call_user_func expects callable\\(\\)\\: mixed, array\\(mixed, string\\|true\\) given\\.$#"
			count: 3
			path: tests/Integration/Persistence/Entitiy/Doctrine/EntityTestCase.php

		-
			message: "#^Parameter \\#1 \\$object of function get_class expects object, bool\\|string given\\.$#"
			count: 2
			path: tests/Integration/Persistence/Entitiy/Doctrine/EntityTestCase.php

		-
			message: "#^Method App\\\\Tests\\\\Integration\\\\Persistence\\\\Entitiy\\\\Doctrine\\\\EntityTestCase\\:\\:dataProviderTestThatSetterAndGettersWorks\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Integration/Persistence/Entitiy/Doctrine/EntityTestCase.php

		-
			message: "#^Method App\\\\Tests\\\\Integration\\\\Persistence\\\\Entitiy\\\\Doctrine\\\\EntityTestCase\\:\\:dataProviderTestThatManyToManyAssociationMethodsWorksAsExpected\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Integration/Persistence/Entitiy/Doctrine/EntityTestCase.php

		-
			message: "#^Method App\\\\Tests\\\\Integration\\\\Persistence\\\\Entitiy\\\\Doctrine\\\\EntityTestCase\\:\\:dataProviderTestThatManyToOneAssociationMethodsWorksAsExpected\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Integration/Persistence/Entitiy/Doctrine/EntityTestCase.php

		-
			message: "#^Method App\\\\Tests\\\\Integration\\\\Persistence\\\\Entitiy\\\\Doctrine\\\\EntityTestCase\\:\\:dataProviderTestThatAssociationMethodsExists\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Integration/Persistence/Entitiy/Doctrine/EntityTestCase.php

		-
			message: "#^Method App\\\\Tests\\\\Integration\\\\Persistence\\\\Entitiy\\\\Doctrine\\\\EntityTestCase\\:\\:dataProviderTestThatOneToManyAssociationMethodsWorksAsExpected\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Integration/Persistence/Entitiy/Doctrine/EntityTestCase.php

		-
			message: "#^Property App\\\\Tests\\\\Integration\\\\Persistence\\\\Entitiy\\\\Doctrine\\\\EntityTestCase\\:\\:\\$testContainer \\(Symfony\\\\Component\\\\DependencyInjection\\\\Container\\) does not accept Symfony\\\\Component\\\\DependencyInjection\\\\ContainerInterface\\.$#"
			count: 1
			path: tests/Integration/Persistence/Entitiy/Doctrine/EntityTestCase.php

		-
			message: "#^Property App\\\\Tests\\\\Integration\\\\Persistence\\\\Entitiy\\\\Doctrine\\\\EntityTestCase\\:\\:\\$entityManager \\(Doctrine\\\\ORM\\\\EntityManager\\) does not accept object\\|null\\.$#"
			count: 1
			path: tests/Integration/Persistence/Entitiy/Doctrine/EntityTestCase.php

		-
			message: "#^Call to an undefined method object\\:\\:getRepository\\(\\)\\.$#"
			count: 1
			path: tests/Integration/Persistence/Entitiy/Doctrine/EntityTestCase.php

		-
			message: "#^Property App\\\\Tests\\\\Integration\\\\Persistence\\\\Entitiy\\\\Doctrine\\\\EntityTestCase\\:\\:\\$entityManager \\(Doctrine\\\\ORM\\\\EntityManager\\) does not accept null\\.$#"
			count: 1
			path: tests/Integration/Persistence/Entitiy/Doctrine/EntityTestCase.php

		-
			message: "#^Property App\\\\Tests\\\\Integration\\\\Service\\\\PatientServiceTest\\:\\:\\$personRepository has no typehint specified\\.$#"
			count: 1
			path: tests/Integration/Service/PatientServiceTest.php

		-
			message: "#^Method App\\\\Tests\\\\Integration\\\\Service\\\\PatientServiceTest\\:\\:setUp\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: tests/Integration/Service/PatientServiceTest.php

		-
			message: "#^Property App\\\\Tests\\\\Integration\\\\Service\\\\PatientServiceTest\\:\\:\\$patientService \\(App\\\\Service\\\\PatientService\\) does not accept object\\|null\\.$#"
			count: 1
			path: tests/Integration/Service/PatientServiceTest.php

		-
			message: "#^Return typehint of method App\\\\Tests\\\\Integration\\\\Service\\\\PatientServiceTest\\:\\:createPatientDTO\\(\\) has invalid type App\\\\Dto\\\\PatientDTO\\.$#"
			count: 1
			path: tests/Integration/Service/PatientServiceTest.php

		-
			message: "#^Instantiated class App\\\\Dto\\\\PatientDTO not found\\.$#"
			count: 1
			path: tests/Integration/Service/PatientServiceTest.php

		-
			message: "#^Access to property \\$firstName on an unknown class App\\\\Dto\\\\PatientDTO\\.$#"
			count: 2
			path: tests/Integration/Service/PatientServiceTest.php

		-
			message: "#^Access to property \\$lastName on an unknown class App\\\\Dto\\\\PatientDTO\\.$#"
			count: 2
			path: tests/Integration/Service/PatientServiceTest.php

		-
			message: "#^Access to property \\$cin on an unknown class App\\\\Dto\\\\PatientDTO\\.$#"
			count: 2
			path: tests/Integration/Service/PatientServiceTest.php

		-
			message: "#^Access to property \\$cne on an unknown class App\\\\Dto\\\\PatientDTO\\.$#"
			count: 2
			path: tests/Integration/Service/PatientServiceTest.php

		-
			message: "#^Access to property \\$gender on an unknown class App\\\\Dto\\\\PatientDTO\\.$#"
			count: 2
			path: tests/Integration/Service/PatientServiceTest.php

		-
			message: "#^Access to property \\$cnss on an unknown class App\\\\Dto\\\\PatientDTO\\.$#"
			count: 2
			path: tests/Integration/Service/PatientServiceTest.php

		-
			message: "#^Access to property \\$cnsstype on an unknown class App\\\\Dto\\\\PatientDTO\\.$#"
			count: 2
			path: tests/Integration/Service/PatientServiceTest.php

		-
			message: "#^Access to property \\$resident on an unknown class App\\\\Dto\\\\PatientDTO\\.$#"
			count: 2
			path: tests/Integration/Service/PatientServiceTest.php

		-
			message: "#^Property App\\\\Tests\\\\Integration\\\\Service\\\\PatientServiceTest\\:\\:\\$patientService \\(App\\\\Service\\\\PatientService\\) does not accept null\\.$#"
			count: 1
			path: tests/Integration/Service/PatientServiceTest.php

		-
			message: "#^Property App\\\\Tests\\\\Integration\\\\Service\\\\UserServiceTest\\:\\:\\$userRepository has no typehint specified\\.$#"
			count: 1
			path: tests/Integration/Service/UserServiceTest.php

		-
			message: "#^Method App\\\\Tests\\\\Integration\\\\Service\\\\UserServiceTest\\:\\:setUp\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: tests/Integration/Service/UserServiceTest.php

		-
			message: "#^Property App\\\\Tests\\\\Integration\\\\Service\\\\UserServiceTest\\:\\:\\$userService \\(App\\\\Service\\\\UserService\\) does not accept object\\|null\\.$#"
			count: 1
			path: tests/Integration/Service/UserServiceTest.php

		-
			message: "#^Property App\\\\Dto\\\\UserDTO\\:\\:\\$roles \\(string\\) does not accept array\\<int, string\\>\\.$#"
			count: 1
			path: tests/Integration/Service/UserServiceTest.php

		-
			message: "#^Property App\\\\Tests\\\\Integration\\\\Service\\\\UserServiceTest\\:\\:\\$userService \\(App\\\\Service\\\\UserService\\) does not accept null\\.$#"
			count: 1
			path: tests/Integration/Service/UserServiceTest.php

		-
			message: "#^Call to an undefined method App\\\\Entity\\\\Consultation\\:\\:setUser\\(\\)\\.$#"
			count: 1
			path: tests/Unit/Entity/ConsultationTest.php

		-
			message: "#^Call to an undefined method App\\\\Entity\\\\Consultation\\:\\:getUser\\(\\)\\.$#"
			count: 1
			path: tests/Unit/Entity/ConsultationTest.php

		-
			message: "#^Parameter \\#1 \\$count of method App\\\\Entity\\\\Meds\\:\\:minusCount\\(\\) expects string, int given\\.$#"
			count: 1
			path: tests/Unit/Entity/MedsTest.php

