parameters:
	ignoreErrors:
		-
			message: "#^Method App\\\\Controller\\\\AccountMeController\\:\\:index\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Controller/AccountMeController.php

		-
			message: "#^Method App\\\\Controller\\\\SecurityController\\:\\:logout\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Controller/SecurityController.php

		-
			message: "#^Method App\\\\DataFixtures\\\\AppFixtures\\:\\:load\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/DataFixtures/AppFixtures.php

		-
			message: "#^Method App\\\\DataFixtures\\\\SecurityFixtures\\:\\:load\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/DataFixtures/SecurityFixtures.php

		-
			message: "#^Property App\\\\Entity\\\\UserProfile\\:\\:\\$id has no typehint specified\\.$#"
			count: 1
			path: src/Entity/UserProfile.php

		-
			message: "#^Property App\\\\Entity\\\\UserProfile\\:\\:\\$firstName has no typehint specified\\.$#"
			count: 1
			path: src/Entity/UserProfile.php

		-
			message: "#^Property App\\\\Entity\\\\UserProfile\\:\\:\\$lastName has no typehint specified\\.$#"
			count: 1
			path: src/Entity/UserProfile.php

		-
			message: "#^Method App\\\\Form\\\\Patient\\\\PatientPersonalDataType\\:\\:buildForm\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Form/Patient/PatientPersonalDataType.php

		-
			message: "#^Method App\\\\Form\\\\Patient\\\\PatientPersonalDataType\\:\\:buildForm\\(\\) has parameter \\$builder with no value type specified in iterable type Symfony\\\\Component\\\\Form\\\\FormBuilderInterface\\.$#"
			count: 1
			path: src/Form/Patient/PatientPersonalDataType.php

		-
			message: "#^Method App\\\\Form\\\\Patient\\\\PatientPersonalDataType\\:\\:buildForm\\(\\) has parameter \\$options with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Form/Patient/PatientPersonalDataType.php

		-
			message: "#^Method App\\\\Form\\\\Patient\\\\PatientPersonalDataType\\:\\:configureOptions\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Form/Patient/PatientPersonalDataType.php

		-
			message: "#^Method App\\\\Form\\\\Patient\\\\RegisterPatientType\\:\\:buildForm\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Form/Patient/RegisterPatientType.php

		-
			message: "#^Method App\\\\Form\\\\Patient\\\\RegisterPatientType\\:\\:buildForm\\(\\) has parameter \\$builder with no value type specified in iterable type Symfony\\\\Component\\\\Form\\\\FormBuilderInterface\\.$#"
			count: 1
			path: src/Form/Patient/RegisterPatientType.php

		-
			message: "#^Method App\\\\Form\\\\Patient\\\\RegisterPatientType\\:\\:buildForm\\(\\) has parameter \\$options with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Form/Patient/RegisterPatientType.php

		-
			message: "#^Method App\\\\Form\\\\Patient\\\\RegisterPatientType\\:\\:configureOptions\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Form/Patient/RegisterPatientType.php

		-
			message: "#^Method App\\\\Form\\\\User\\\\ChangeUserPasswordType\\:\\:buildForm\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Form/User/ChangeUserPasswordType.php

		-
			message: "#^Method App\\\\Form\\\\User\\\\ChangeUserPasswordType\\:\\:buildForm\\(\\) has parameter \\$builder with no value type specified in iterable type Symfony\\\\Component\\\\Form\\\\FormBuilderInterface\\.$#"
			count: 1
			path: src/Form/User/ChangeUserPasswordType.php

		-
			message: "#^Method App\\\\Form\\\\User\\\\ChangeUserPasswordType\\:\\:buildForm\\(\\) has parameter \\$options with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Form/User/ChangeUserPasswordType.php

		-
			message: "#^Method App\\\\Form\\\\User\\\\ChangeUserPasswordType\\:\\:configureOptions\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Form/User/ChangeUserPasswordType.php

		-
			message: "#^Method App\\\\Form\\\\User\\\\RegisterUserType\\:\\:buildForm\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Form/User/RegisterUserType.php

		-
			message: "#^Method App\\\\Form\\\\User\\\\RegisterUserType\\:\\:buildForm\\(\\) has parameter \\$builder with no value type specified in iterable type Symfony\\\\Component\\\\Form\\\\FormBuilderInterface\\.$#"
			count: 1
			path: src/Form/User/RegisterUserType.php

		-
			message: "#^Method App\\\\Form\\\\User\\\\RegisterUserType\\:\\:buildForm\\(\\) has parameter \\$options with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Form/User/RegisterUserType.php

		-
			message: "#^Method App\\\\Form\\\\User\\\\RegisterUserType\\:\\:configureOptions\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Form/User/RegisterUserType.php

		-
			message: "#^Method App\\\\Form\\\\User\\\\UserProfileType\\:\\:buildForm\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Form/User/UserProfileType.php

		-
			message: "#^Method App\\\\Form\\\\User\\\\UserProfileType\\:\\:buildForm\\(\\) has parameter \\$builder with no value type specified in iterable type Symfony\\\\Component\\\\Form\\\\FormBuilderInterface\\.$#"
			count: 1
			path: src/Form/User/UserProfileType.php

		-
			message: "#^Method App\\\\Form\\\\User\\\\UserProfileType\\:\\:buildForm\\(\\) has parameter \\$options with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Form/User/UserProfileType.php

		-
			message: "#^Method App\\\\Form\\\\User\\\\UserProfileType\\:\\:configureOptions\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Form/User/UserProfileType.php

		-
			message: "#^Method App\\\\Form\\\\User\\\\UserType\\:\\:buildForm\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Form/User/UserType.php

		-
			message: "#^Method App\\\\Form\\\\User\\\\UserType\\:\\:buildForm\\(\\) has parameter \\$builder with no value type specified in iterable type Symfony\\\\Component\\\\Form\\\\FormBuilderInterface\\.$#"
			count: 1
			path: src/Form/User/UserType.php

		-
			message: "#^Method App\\\\Form\\\\User\\\\UserType\\:\\:buildForm\\(\\) has parameter \\$options with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Form/User/UserType.php

		-
			message: "#^Method App\\\\Form\\\\User\\\\UserType\\:\\:configureOptions\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Form/User/UserType.php

		-
			message: "#^Property App\\\\Infrastructure\\\\Security\\\\PasswordGenerator\\:\\:\\$DIGITS has no typehint specified\\.$#"
			count: 1
			path: src/Infrastructure/Security/PasswordGenerator.php

		-
			message: "#^Property App\\\\Infrastructure\\\\Security\\\\PasswordGenerator\\:\\:\\$LETTERS has no typehint specified\\.$#"
			count: 1
			path: src/Infrastructure/Security/PasswordGenerator.php

		-
			message: "#^Property App\\\\Infrastructure\\\\Security\\\\PasswordGenerator\\:\\:\\$STRONG_THRESHOLD has no typehint specified\\.$#"
			count: 1
			path: src/Infrastructure/Security/PasswordGenerator.php

		-
			message: "#^Property App\\\\Infrastructure\\\\Security\\\\PasswordGenerator\\:\\:\\$SYMBOLS has no typehint specified\\.$#"
			count: 1
			path: src/Infrastructure/Security/PasswordGenerator.php

		-
			message: "#^Property App\\\\Infrastructure\\\\Security\\\\PasswordGenerator\\:\\:\\$VERY_STRONG_THRESHOLD has no typehint specified\\.$#"
			count: 1
			path: src/Infrastructure/Security/PasswordGenerator.php

		-
			message: "#^Method App\\\\Repository\\\\UserRepository\\:\\:countUsers\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Repository/UserRepository.php

		-
			message: "#^Property App\\\\Security\\\\AppCustomAuthenticator\\:\\:\\$entityManager has no typehint specified\\.$#"
			count: 1
			path: src/Security/AppCustomAuthenticator.php

		-
			message: "#^Property App\\\\Security\\\\AppCustomAuthenticator\\:\\:\\$urlGenerator has no typehint specified\\.$#"
			count: 1
			path: src/Security/AppCustomAuthenticator.php

		-
			message: "#^Property App\\\\Security\\\\AppCustomAuthenticator\\:\\:\\$csrfTokenManager has no typehint specified\\.$#"
			count: 1
			path: src/Security/AppCustomAuthenticator.php

		-
			message: "#^Property App\\\\Security\\\\AppCustomAuthenticator\\:\\:\\$passwordEncoder has no typehint specified\\.$#"
			count: 1
			path: src/Security/AppCustomAuthenticator.php

		-
			message: "#^Method App\\\\Security\\\\AppCustomAuthenticator\\:\\:getPassword\\(\\) has parameter \\$credentials with no typehint specified\\.$#"
			count: 1
			path: src/Security/AppCustomAuthenticator.php

		-
			message: "#^Method App\\\\Security\\\\AppCustomAuthenticator\\:\\:onAuthenticationSuccess\\(\\) has parameter \\$providerKey with no typehint specified\\.$#"
			count: 1
			path: src/Security/AppCustomAuthenticator.php

		-
			message: "#^Property App\\\\Tests\\\\Integration\\\\Service\\\\UserServiceTest\\:\\:\\$userRepository has no typehint specified\\.$#"
			count: 1
			path: tests/Integration/Service/UserServiceTest.php

