parameters:
	ignoreErrors:
		-
			message: "#^Method App\\\\Controller\\\\AccountMeController\\:\\:index\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Controller/AccountMeController.php

		-
			message: "#^Method App\\\\Controller\\\\SecurityController\\:\\:logout\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Controller/SecurityController.php

		-
			message: "#^Method App\\\\DataFixtures\\\\AppFixtures\\:\\:load\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/DataFixtures/AppFixtures.php

		-
			message: "#^Method App\\\\DataFixtures\\\\SecurityFixtures\\:\\:load\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/DataFixtures/SecurityFixtures.php

		-
			message: "#^Property App\\\\Dto\\\\PatientPersonalDataDTO\\:\\:\\$id has no typehint specified\\.$#"
			count: 1
			path: src/Dto/PatientPersonalDataDTO.php

		-
			message: "#^Property App\\\\Dto\\\\RegisterPatientDTO\\:\\:\\$patientPersonalData has no typehint specified\\.$#"
			count: 1
			path: src/Dto/RegisterPatientDTO.php

		-
			message: "#^Property App\\\\Dto\\\\RegisterPatientDTO\\:\\:\\$confirm has no typehint specified\\.$#"
			count: 1
			path: src/Dto/RegisterPatientDTO.php

		-
			message: "#^Property App\\\\Entity\\\\UserProfile\\:\\:\\$id has no typehint specified\\.$#"
			count: 1
			path: src/Entity/UserProfile.php

		-
			message: "#^Property App\\\\Entity\\\\UserProfile\\:\\:\\$firstName has no typehint specified\\.$#"
			count: 1
			path: src/Entity/UserProfile.php

		-
			message: "#^Property App\\\\Entity\\\\UserProfile\\:\\:\\$lastName has no typehint specified\\.$#"
			count: 1
			path: src/Entity/UserProfile.php

		-
			message: "#^Method App\\\\Form\\\\Patient\\\\PatientPersonalDataFormDTOType\\:\\:buildForm\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Form/Patient/PatientPersonalDataFormDTOType.php

		-
			message: "#^Method App\\\\Form\\\\Patient\\\\PatientPersonalDataFormDTOType\\:\\:buildForm\\(\\) has parameter \\$builder with no value type specified in iterable type Symfony\\\\Component\\\\Form\\\\FormBuilderInterface\\.$#"
			count: 1
			path: src/Form/Patient/PatientPersonalDataFormDTOType.php

		-
			message: "#^Method App\\\\Form\\\\Patient\\\\PatientPersonalDataFormDTOType\\:\\:buildForm\\(\\) has parameter \\$options with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Form/Patient/PatientPersonalDataFormDTOType.php

		-
			message: "#^Method App\\\\Form\\\\Patient\\\\PatientPersonalDataFormDTOType\\:\\:configureOptions\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Form/Patient/PatientPersonalDataFormDTOType.php

		-
			message: "#^Method App\\\\Form\\\\Patient\\\\RegisterPatientType\\:\\:buildForm\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Form/Patient/RegisterPatientType.php

		-
			message: "#^Method App\\\\Form\\\\Patient\\\\RegisterPatientType\\:\\:buildForm\\(\\) has parameter \\$builder with no value type specified in iterable type Symfony\\\\Component\\\\Form\\\\FormBuilderInterface\\.$#"
			count: 1
			path: src/Form/Patient/RegisterPatientType.php

		-
			message: "#^Method App\\\\Form\\\\Patient\\\\RegisterPatientType\\:\\:buildForm\\(\\) has parameter \\$options with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Form/Patient/RegisterPatientType.php

		-
			message: "#^Method App\\\\Form\\\\Patient\\\\RegisterPatientType\\:\\:configureOptions\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Form/Patient/RegisterPatientType.php

		-
			message: "#^Method App\\\\Form\\\\User\\\\ChangeUserPasswordType\\:\\:buildForm\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Form/User/ChangeUserPasswordType.php

		-
			message: "#^Method App\\\\Form\\\\User\\\\ChangeUserPasswordType\\:\\:buildForm\\(\\) has parameter \\$builder with no value type specified in iterable type Symfony\\\\Component\\\\Form\\\\FormBuilderInterface\\.$#"
			count: 1
			path: src/Form/User/ChangeUserPasswordType.php

		-
			message: "#^Method App\\\\Form\\\\User\\\\ChangeUserPasswordType\\:\\:buildForm\\(\\) has parameter \\$options with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Form/User/ChangeUserPasswordType.php

		-
			message: "#^Method App\\\\Form\\\\User\\\\ChangeUserPasswordType\\:\\:configureOptions\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Form/User/ChangeUserPasswordType.php

		-
			message: "#^Method App\\\\Form\\\\User\\\\RegisterUserType\\:\\:buildForm\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Form/User/RegisterUserType.php

		-
			message: "#^Method App\\\\Form\\\\User\\\\RegisterUserType\\:\\:buildForm\\(\\) has parameter \\$builder with no value type specified in iterable type Symfony\\\\Component\\\\Form\\\\FormBuilderInterface\\.$#"
			count: 1
			path: src/Form/User/RegisterUserType.php

		-
			message: "#^Method App\\\\Form\\\\User\\\\RegisterUserType\\:\\:buildForm\\(\\) has parameter \\$options with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Form/User/RegisterUserType.php

		-
			message: "#^Method App\\\\Form\\\\User\\\\RegisterUserType\\:\\:configureOptions\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Form/User/RegisterUserType.php

		-
			message: "#^Method App\\\\Form\\\\User\\\\UserProfileType\\:\\:buildForm\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Form/User/UserProfileType.php

		-
			message: "#^Method App\\\\Form\\\\User\\\\UserProfileType\\:\\:buildForm\\(\\) has parameter \\$builder with no value type specified in iterable type Symfony\\\\Component\\\\Form\\\\FormBuilderInterface\\.$#"
			count: 1
			path: src/Form/User/UserProfileType.php

		-
			message: "#^Method App\\\\Form\\\\User\\\\UserProfileType\\:\\:buildForm\\(\\) has parameter \\$options with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Form/User/UserProfileType.php

		-
			message: "#^Method App\\\\Form\\\\User\\\\UserProfileType\\:\\:configureOptions\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Form/User/UserProfileType.php

		-
			message: "#^Method App\\\\Form\\\\User\\\\UserType\\:\\:buildForm\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Form/User/UserType.php

		-
			message: "#^Method App\\\\Form\\\\User\\\\UserType\\:\\:buildForm\\(\\) has parameter \\$builder with no value type specified in iterable type Symfony\\\\Component\\\\Form\\\\FormBuilderInterface\\.$#"
			count: 1
			path: src/Form/User/UserType.php

		-
			message: "#^Method App\\\\Form\\\\User\\\\UserType\\:\\:buildForm\\(\\) has parameter \\$options with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Form/User/UserType.php

		-
			message: "#^Method App\\\\Form\\\\User\\\\UserType\\:\\:configureOptions\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Form/User/UserType.php

		-
			message: "#^Method App\\\\Repository\\\\UserRepository\\:\\:countUsers\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/Repository/UserRepository.php

		-
			message: "#^Property App\\\\Security\\\\AppCustomAuthenticator\\:\\:\\$entityManager has no typehint specified\\.$#"
			count: 1
			path: src/Security/AppCustomAuthenticator.php

		-
			message: "#^Property App\\\\Security\\\\AppCustomAuthenticator\\:\\:\\$urlGenerator has no typehint specified\\.$#"
			count: 1
			path: src/Security/AppCustomAuthenticator.php

		-
			message: "#^Property App\\\\Security\\\\AppCustomAuthenticator\\:\\:\\$csrfTokenManager has no typehint specified\\.$#"
			count: 1
			path: src/Security/AppCustomAuthenticator.php

		-
			message: "#^Property App\\\\Security\\\\AppCustomAuthenticator\\:\\:\\$passwordEncoder has no typehint specified\\.$#"
			count: 1
			path: src/Security/AppCustomAuthenticator.php

		-
			message: "#^Method App\\\\Security\\\\AppCustomAuthenticator\\:\\:getPassword\\(\\) has parameter \\$credentials with no typehint specified\\.$#"
			count: 1
			path: src/Security/AppCustomAuthenticator.php

		-
			message: "#^Method App\\\\Security\\\\AppCustomAuthenticator\\:\\:onAuthenticationSuccess\\(\\) has parameter \\$providerKey with no typehint specified\\.$#"
			count: 1
			path: src/Security/AppCustomAuthenticator.php

		-
			message: "#^Property App\\\\Tests\\\\Integration\\\\Persistence\\\\Entitiy\\\\Doctrine\\\\EntityTestCase\\:\\:\\$entity has no typehint specified\\.$#"
			count: 1
			path: tests/Integration/Persistence/Entitiy/Doctrine/EntityTestCase.php

		-
			message: "#^Method App\\\\Tests\\\\Integration\\\\Persistence\\\\Entitiy\\\\Doctrine\\\\EntityTestCase\\:\\:testThatSetterOnlyAcceptSpecifiedType\\(\\) has parameter \\$meta with no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Integration/Persistence/Entitiy/Doctrine/EntityTestCase.php

		-
			message: "#^Method App\\\\Tests\\\\Integration\\\\Persistence\\\\Entitiy\\\\Doctrine\\\\EntityTestCase\\:\\:testThatManyToManyAssociationMethodsWorksAsExpected\\(\\) has parameter \\$mappings with no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Integration/Persistence/Entitiy/Doctrine/EntityTestCase.php

		-
			message: "#^PHPDoc tag @var for variable \\$collection contains generic class Doctrine\\\\Common\\\\Collections\\\\ArrayCollection but does not specify its types\\: TKey, T$#"
			count: 7
			path: tests/Integration/Persistence/Entitiy/Doctrine/EntityTestCase.php

		-
			message: "#^PHPDoc tag @var for variable \\$collection has no value type specified in iterable type Doctrine\\\\Common\\\\Collections\\\\ArrayCollection\\.$#"
			count: 7
			path: tests/Integration/Persistence/Entitiy/Doctrine/EntityTestCase.php

		-
			message: "#^Method App\\\\Tests\\\\Integration\\\\Persistence\\\\Entitiy\\\\Doctrine\\\\EntityTestCase\\:\\:dataProviderTestThatSetterAndGettersWorks\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Integration/Persistence/Entitiy/Doctrine/EntityTestCase.php

		-
			message: "#^Method App\\\\Tests\\\\Integration\\\\Persistence\\\\Entitiy\\\\Doctrine\\\\EntityTestCase\\:\\:dataProviderTestThatManyToManyAssociationMethodsWorksAsExpected\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Integration/Persistence/Entitiy/Doctrine/EntityTestCase.php

		-
			message: "#^Method App\\\\Tests\\\\Integration\\\\Persistence\\\\Entitiy\\\\Doctrine\\\\EntityTestCase\\:\\:dataProviderTestThatManyToOneAssociationMethodsWorksAsExpected\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Integration/Persistence/Entitiy/Doctrine/EntityTestCase.php

		-
			message: "#^Method App\\\\Tests\\\\Integration\\\\Persistence\\\\Entitiy\\\\Doctrine\\\\EntityTestCase\\:\\:dataProviderTestThatAssociationMethodsExists\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Integration/Persistence/Entitiy/Doctrine/EntityTestCase.php

		-
			message: "#^Method App\\\\Tests\\\\Integration\\\\Persistence\\\\Entitiy\\\\Doctrine\\\\EntityTestCase\\:\\:dataProviderTestThatOneToManyAssociationMethodsWorksAsExpected\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Integration/Persistence/Entitiy/Doctrine/EntityTestCase.php

		-
			message: "#^Property App\\\\Tests\\\\Integration\\\\Persistence\\\\Entitiy\\\\Doctrine\\\\EntityTestCase\\:\\:\\$testContainer \\(Symfony\\\\Component\\\\DependencyInjection\\\\Container\\) does not accept Symfony\\\\Component\\\\DependencyInjection\\\\ContainerInterface\\.$#"
			count: 1
			path: tests/Integration/Persistence/Entitiy/Doctrine/EntityTestCase.php

		-
			message: "#^Call to an undefined method object\\:\\:getRepository\\(\\)\\.$#"
			count: 1
			path: tests/Integration/Persistence/Entitiy/Doctrine/EntityTestCase.php

		-
			message: "#^Property App\\\\Tests\\\\Integration\\\\Service\\\\UserServiceTest\\:\\:\\$userRepository has no typehint specified\\.$#"
			count: 1
			path: tests/Integration/Service/UserServiceTest.php

