{% extends 'admin/layout/admin-base.html.twig' %}

{% block title %}New Patient{% endblock %}

{% block body %}
    <h1>Create new Patient</h1>
    <div class="container-lg">
        {{ include('admin/patient/_form.html.twig') }}

        <a href="{{ path('admin_patient_index') }}">{{ 'common.actions.back_to_list'|trans }}</a>
    </div>
{% endblock %}
